[submodule "turing-mlflow-demo"]
	path = turing-mlflow-demo
	url = git@github.com:jsteyn/turing-mlflow-demo.git
[submodule "LearningMachineDemos"]
	path = LearningMachineDemos
	url = git@github.com:jsteyn/LearningMachineDemos.git
